#hexagon {
    width: 200px;
    height: 200px;
    border: 1px black solid;
    position: relative;
    left: 100px;
    top: 100px;
}


#hexagon span {
    position: absolute;
    overflow: auto;
}

.hex1 {
    top: 0%;
    width: 100%;
    text-align: center;
}

.hex2 {
    top: 25%;
    left: 0%;
    width: 50%;
}

.hex3 {
    top: 25%;
    right: 0%;
    width: 50%;
    text-align: right;
}

.hex4 {
    bottom: 25%;
    left: 0%;
    width: 50%;
}

.hex5 {
    bottom: 25%;
    right: 0%;
    width: 50%;
    text-align: right;
}

.hex6 {
    bottom: 0%;
    width: 100%;
    text-align: center;
}



