<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>fish500gif</title>

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script src="/jquery-form/dist/jquery.form.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <h1>Welcome to fish500gif!</h1>
    <h2>Play</h2>

    <div>
        <input id="gamecode" type="text" value="">
        <button type="button" onclick="join()">Join</button>
    </div>

    <br />
    <br />
    <br />

    <div>
        <input id="player" type="text" value="">
        <button type="button" onclick="player()">Player</button>
    </div>

    <br />
    <br />
    <br />

    <div>
        <input id="other" type="text" value="">
        <input id="card" type="text" value="">
        <button type="button" onclick="ask()">Player</button>
    </div>

    <p>Hello World</p>

    <script src="javascripts/join.js"></script>

</body>
</html>