.demo-card-wide.mdl-card {
  width: 100%
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 300px;
  background: url('../tom_fishing.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}


.card {
  box-sizing: border-box;
  width: 35px;
  height: 25px;
  margin: 5px;
  border-style: solid;
  border-color: black;
  text-align: center;
  display: inline-block;
}

.card span {
  vertical-align: middle;
}

.cardcontainer {
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  white-space: nowrap;
  height: 150px;
  padding: 10px;
}

.cardcontainer2a {
  width: auto;
  overflow-x: scroll;
  overflow-y: auto;
  position: relative;
  white-space: nowrap;
  height: 150px;
  padding: 10px;
}

#playercards2 img {
  width: auto;
  height: 120px;
  padding: 5px;
}

#playercards2a img {
  width: auto;
  height: 120px;
  padding: 5px;
}



#logoimage {
  width: auto;
  height: 120px;
  padding: 5px;
}

.cardinput {
  width: auto;
  height: 115px;
  padding: 5px;
}

#numcardstable {
  overflow-x: auto;
  white-space: nowrap;
  width: 90%;
}

select {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 18px;
}

.displayinfo {
  font-size: 2em;
}

#declaredsets {
  line-height: 150%;
}

#buttonarray button {
  display: inline;
  margin-right: 5px;
}

#playercards2a img:hover, #playercards2a img:active {
  transform: scale(1.2);
  z-index: 999 !important;
}

#message-container {
  height: 200px;
  overflow-y: auto;
}

/* #chatbadge {
  align-items: center;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 600;
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: rgb(255,64,129);
  color: rgb(255,255,255)
} */

/* 
#hexagon {
  width: 200px;
  height: 200px;
  border: 1px black solid;
  position: relative;
  text-align: center;
}


#hexagon .hexitem {
  position: absolute;
}

.hex1 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.hex2 {
  top: 25%;
  left: 0%;
}

.hex3 {
  top: 25%;
  right: 0%;
}

.hex4 {
  bottom: 25%;
  left: 0%;
}

.hex5 {
  bottom: 25%;
  right: 0%;
}

.hex6 {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
} */