doctype html
html
  head
    title= title
    link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap.css")
    script(src="/jquery/dist/jquery.js")
    script(src="/jquery-form/dist/jquery.form.min.js")
    script(src="/socket.io-client/dist/socket.io.js")
    script(src="bootstrap/dist/js/bootstrap.js")

    script(src="https://www.google.com/recaptcha/api.js")
  body
    nav(class="navbar navbar-default navbar-fixed-top")
    block content